.text-widget {
    display: block;
    position: absolute;
    width: fit-content;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 20px;
    text-shadow: 0 0 3px #121212;
    white-space: nowrap;
    cursor: move;
}

.slogan-text-widget {
    bottom: 2px;
    left: 157px;
}