.widget {
    position: absolute;
    transition: background-color .25s ease;
    border-radius: var(--border-radius);
    border: solid transparent 1px;
    cursor: move;

    &:hover {
        background-color: var(--widget-hover-bg-color);
        border: solid var(--border-color) 1px;
        box-shadow: 0px 0px 7px var(--window-shadow-color);
    }

    .btn-close-window {
        display: none;
    }

    &-title {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-radius: var(--border-radius);
    }
}

.widget:hover .btn-close-window {
    display: flex;
}

.windowed {
    background-color: var(--widget-hover-bg-color);
    border: solid var(--border-color) 1px;

    .btn-close-window {
        display: flex;
        top: 2.5px;
        right: 2.5px;
    }
}