.btn {
    width: fit-content;
    min-width: 35px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    font-weight: 500;
    border-radius: var(--border-radius);
    text-decoration: none;
    box-shadow: 0px 0px 7px var(--box-shadow-color);
    transition: 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0px 0px 5px var(--button-hover-shadow-color);
    }

    &-primary{
        background: var(--button-primary-color);
    }

    &-close-window {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}