:root {
    /* ***************** Colors ***************** */
    /* Basic */
    --black: #000000;
    --white: #ffffff;
    --cod-gray: #121212;
    --bon-jour: #EEEBEE;
    --black-o-75: rgba(0, 0, 0, .75);
    --black-o-50: rgba(0, 0, 0, .5);
    --black-o-25: rgba(0, 0, 0, .25);
    --white-o-50: rgba(255, 255, 255, 0.5);
    --white-o-25: rgba(255, 255, 255, 0.25);
    --mine-shaft: #282828;
    --mine-shaft-o-50: rgba(40, 40, 40, 0.5);
    --mine-shaft-o-75: rgba(40, 40, 40, 0.75);
    /* Main */
    --voodoo: #5C3A5D;
    --voodoo-dark: #4A304B;
    --medium-purple: #9457EB;
    --voodoo-o-50: #5C3A5D80;
    /* Semantic */
    --forest-green: #267A1A;
    --fun-blue: #184FAB;
    --pirate-gold: #C68101;
    --disco: #901458;
    --dusty-gray: #999999;

    /* ***************** Categories ***************** */
    --primary-color: var(--voodoo);
    --accent-color: var(--medium-purple);
    /* Text */
    --text-color: var(--cod-gray);
    --text-light-color: var(--bon-jour);
    /* Headings */
    --headings-color: var(--black);
    --headings-light-color: var(--white);
    /* Links */
    --links-color: var(--medium-purple);
    /* Background */
    --bg-default: var(--cod-gray);
    --bg-light: var(--white);
    /* Borders */
    --border-color: var(--medium-purple);
    /* Box shadows */
    --box-shadow-color: var(--black-o-25);
    --logo-shadow-color: var(--white-o-50);
    --card-shadow-color: var(--medium-purple);
    /* Scrollbar */
    --scrollbar-color: var(--white-o-50);
    /* Buttons */
    // --button-primary-color: linear-gradient(180deg, rgba(148, 87, 235, 0.8) 0%, rgba(113, 69, 160, 0.89375) 46.88%, #4A304B 100%);
    --button-primary-color: linear-gradient(180deg, #9E709E 0.52%, #5C3A5D 50.52%, #4A2A51 100%);
    --button-hover-shadow-color: var(--white-o-50);
    /* Windows */
    --window-bg-color: var(--black-o-50);
    --window-title-bg-color: var(--voodoo-o-50);
    --window-shadow-color: var(--white-o-25);
    /* Widgets */
    --widget-hover-bg-color: var(--mine-shaft-o-50);
    --widget-options-bg-color: var(--mine-shaft-o-75);
}

/* Color names from: https://chir.ag/projects/name-that-color */