main {
    margin: var(--vertical-margin) var(--horizontal-margin);
}

#background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--bg-default);
    // background-image: url('/img/bg-1.jpg');
    // background-image: url('/img/bg-2.jpg');
    // background-image: url('/img/bg-3.jpg');
    // background-image: url('/img/bg-4.jpg');
    // background-image: url('/img/bg-5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    z-index: -1;
    transition: background-image .5s ease-in-out;

    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}

#background:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.15;
    background-color: var(--black);
    // background-image: url('/img/bg-1.jpg');
    // background-repeat: no-repeat;
    // background-position: 50% 0;
    // background-size: cover;
}

header {
    position: fixed;
    bottom: var(--vertical-margin);
    left: var(--horizontal-margin);
}

.main-page {
    .buttons-container {
        display: flex;
        position: absolute;
        right: var(--horizontal-margin);

        .btn:not(:last-child) {
            margin-right: 5px;
        }
    }

    .more-options-container {
        position: absolute;
        top: calc(var(--vertical-margin) + 40px);
        right: var(--horizontal-margin);
        width: 150px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--window-bg-color);
        border-radius: var(--border-radius);
    }
}

.settings-window {
    .bg-image-option {
        margin-right: 5px;
        border: solid transparent 1px;
        cursor: pointer;

        &:hover {
            border: solid var(--border-color) 1px;
            border-radius: var(--input-border-radius);
            box-shadow: 0px 0px 5px var(--window-shadow-color);
        }
    }
}

.widgets-window {
    .widgets-options-group {
        flex-wrap: wrap;
    }

    .widget-option {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 5px;
        padding: 15px;
        background-color: var(--widget-hover-bg-color);
        border: solid transparent 1px;
        border-radius: var(--border-radius);
        text-align: center;
        cursor: pointer;

        &:hover {
            border: solid var(--border-color) 1px;
            box-shadow: 0px 0px 5px var(--window-shadow-color);
        }

        &:not(:last-child) {
            margin-right: 5px;
        }

        img {
            margin-top: 10px;
        }

    }
}

.widget-options-box {
    position: absolute;
    background-color: var(--widget-options-bg-color);
    z-index: 1010;
    border-radius: var(--border-radius);
    border: solid var(--border-color) 1px;
    // box-shadow: 0px 0px 5px var(--window-shadow-color);
    backdrop-filter: blur(5px);
}